#loading-indicator {
    position: absolute;
    left:40%;
    bottom: -10px;
    z-index: 999;
}

.table-active {
    background-color: #428BCA;
}

.table td,th {
    text-align: center;
}

.user-table tbody tr:hover {
    background-color: #428BCA;
}

.deleteuser-dialog .modal-dialog {
    width: 750px;
}

#sizing-addon2 {
    width: 110px;
    text-align: left;
}